html,
body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.none {
  display: none !important;
}
.btn-outline {
  height: 36px;
  padding: 12px 20px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  background-color: var(--white);
}
.btn-outline:hover {
  opacity: 0.8;
}
.btn-outline:active {
  position: relative;
  top: 1px;
}
li {
  list-style-type: none;
}
.content-list a {
  color: var(--sky-blue);
  text-decoration: none;
}
.dark {
  --page-bg: #252526;
  --text-color: var(--white);
}
