html,
body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  color: var(--charcoal-gray);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.none {
  display: none !important;
}
.btn-outline {
  height: 36px;
  padding: 12px 20px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
}
.btn-outline:hover {
  opacity: 0.8;
}
.btn-outline:active {
  position: relative;
  top: 1px;
}
li {
  list-style-type: none;
}
