html,
body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  color: var(--charcoal-gray);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.none {
  display: none !important;
}
